<!DOCTYPE html>
<html style="background-color: #746e6e;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aladin">
		<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
		<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
		<style type="text/css">
  		#mapPage, #map {
    		height: 100%;
  		}
		</style>
</head>

<body style="background-color: rgb(0,0,0);">
    <div class="container" style="padding-top: 17px;padding-bottom: 26px;">
        <h1 class="text-center" style="color: rgb(255,255,255);margin-bottom: -42px;font-size: 52px;font-family: 'Alfa Slab One', cursive;">Map</h1>
        <div class="jumbotron" id="map" style="margin: 29px;height: 559px;margin-top: 94px;margin-bottom: 6px;">

        </div>
    </div>


    <!---<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script type="text/javascript">

			$(window).load(function(){
					var map = L.map('map').setView([11.0075,76.9671], 13);
	// add an OpenStreetMap tile layer

					L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
						maxZoom: 18,
						attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
						'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
						'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
						id: 'mapbox/streets-v11'
					}).addTo(map);


					var options = {
						minWidth:'100',
						minHeight:'500'
					}

					var data;

					$.ajax({
						type:'GET',
						url:'http://127.0.0.1:8000/data',
						async: false,
						success: function(d){
							data = d.data;
						}
					});

					console.log(data);
					for(let i=0; i < data.length; i++){
						var marker = L.marker([data[i].latitude, data[i].longitude]).addTo(map);
						marker.bindPopup(`<div><a href=${data[i].url} style="text-decoration:none; font-family: Aladin,cursive;margin-top: 13px;"><h1>${data[i].display_name}</h1></a></div>`, options);
					}

				});
		</script>
</body>

</html>
